---
import type { MarkdownLayoutProps } from 'astro';
import { getEntry } from "astro:content";

import bars3 from 'heroicons/24/solid/bars-3.svg?raw';
import xCircle from 'heroicons/24/outline/x-circle.svg?raw';

import Breadcrumb from "../components/Breadcrumb.astro";
import DebugCssBreakpoints from "../components/DebugCssBreakpoints.astro";
import SectionNavigation from "../components/SectionNavigation.astro";
import SiteNavigation from "../components/SiteNavigation.astro";
import PrevNextNavigation from "../components/PrevNextNavigation.astro";
import PageToc from "../components/PageToc/PageToc.astro";
import PageTocOL from "../components/PageToc/PageTocOL.astro";
import InlineSvg from "../components/InlineSvg.astro";

type Props = MarkdownLayoutProps<{
    title: string;
    description: string;
    navSection: string;
    prev?: { collection: "docs"; id: string } | undefined;
    next?: { collection: "docs"; id: string } | undefined;
}>;

const {frontmatter,headings} = Astro.props;
import "../styles/global.css";

const prev = frontmatter.prev ? await getEntry(frontmatter.prev) : undefined;
const next = frontmatter.next ? await getEntry(frontmatter.next) : undefined;

---

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{frontmatter.title}</title>
    </head>
    <body class="">
        <DebugCssBreakpoints />
        <input id="show-hide-nav" type="checkbox" class="hidden"/>
        <div id="header" class="flex items-center py-4 text-imprint-white bg-ganbaro-blue-500 docs-padding">
            <span>
                <a href="/" class="hover:underline hover:underline-offset-4">Imprint CSS<span class="hidden c:inline"> - Tailwind CSS plugin for content-oriented websites</span></a>
            </span>
            <nav class="ml-auto">
                <ul class="flex flex-row gap-4">
                    <li><a href="/docs" class="hover:underline hover:underline-offset-4">Docs</a></li>
                    <li><a href="https://oohshiny.dev" class="hover:underline hover:underline-offset-4">Blog</a></li>
                    <li><a href="https://github.com/stuartherbert/imprint-css" class="hover:underline hover:underline-offset-4">GitHub</a></li>
                </ul>
            </nav>
        </div>
        <div class="flex items-center pb-2 border-b shadow-sm imprint pt-2 docs-padding border-imprint-gray/40 !bg-neutral-50">
            <div class="pr-4 mr-4 border-r d:hidden border-imprint-gray/40">
                <label for="show-hide-nav"><InlineSvg id="open-show-hide-nav" svg={bars3} class="cursor-pointer w-24rpx h-24rpx"/><InlineSvg id="close-show-hide-nav" svg={xCircle} class="cursor-pointer w-24rpx h-24rpx"/></label>
            </div>
            <Breadcrumb />
        </div>
        <div id="content" class="d:grid d-t:grid-cols-[17rem_1fr] d-d:grid-cols-[19rem_1fr]">
            <div id="sidebar" class="hidden pt-2 pb-4 border-b shadow-sm border-imprint-gray/40 d:border-r docs-padding d:shadow-none d:border-b-0 d:overflow-y-auto d:sticky d:top-0 d:block d:pb-2 d:max-h-dvh d:border-imprint-palegray bg-imprint-palegray/35">
                <SiteNavigation/>
            </div>
            <div class="page">
                <div class="e:grid e:grid-cols-[1fr_17rem] e:gap-10 docs-padding d:pt-2 e:pt-0 mb-10 e:mb-4">
                    <div class="imprint-modern my-6 e:my-4 max-w-[50rem]">
                        <main role="main" class="">
                            <div class="mb-4 imprint-prose">
                                <header class="mt-4 mb-4 e:mt-2">
                                    <p class="!imprint-block-greatprimer !imprint-fontweight-greatprimer !text-imprint-graphite">{frontmatter.navSection}</p>
                                    <h1 class="!mt-2">{frontmatter.title}</h1>
                                    {frontmatter.description && <p class="!imprint-block-greatprimer mt-2 font-light">{frontmatter.description}</p>}
                                </header>
                                <slot />
                            </div>
                            <PrevNextNavigation prev={prev} next={next}/>
                        </main>
                        <div id="compact" class="mt-6 mb-10 imprint e:hidden">
                            <div class="mb-4 imprint-panel --subtle bg-imprint-palegray/75 border-imprint-gray/40">
                                <div class="imprint-inner imprint-prose">
                                    <aside class="pb-4 mt-2 border-b d:hidden border-imprint-gray">
                                        <h5 class="!text-20rpx !font-semibold mb-4">In {frontmatter.navSection}</h5>
                                        <SectionNavigation navSection={frontmatter.navSection}/>
                                    </aside>
                                    <aside class="pt-2 d:pt-0 d:mt-2">
                                        <h5 class="!text-18rpx !font-semibold">On This Page</h5>
                                        <PageTocOL headings={headings} class=""/>
                                    </aside>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="pagetoc" class="sticky top-0 order-3 hidden pt-4 pl-4 mt-2 overflow-y-auto border-l e:block border-imprint-palegray text-pica max-h-dvh">
                        <aside>
                            <h5 class="font-semibold text-18rpx">On This Page</h5>
                            <PageToc headings={headings} class=""/>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer" class="flex justify-center px-4 py-4 text-white shadow bg-ganbaro-blue-500">
            <p>Copyright (c) 2024-present Ganbaro Digital Ltd.</p>
        </div>
    </body>
</html>