---
import type { MarkdownLayoutProps } from 'astro';

import { getEntry } from "astro:content";
import SiteNavigation from "../components/SiteNavigation.astro";
import PrevNextNavigation from "../components/PrevNextNavigation.astro";
import PageToc from "../components/PageToc.astro";

type Props = MarkdownLayoutProps<{
    title: string;
    description: string;
    navSection: string;
    prev: string | undefined;
    next: string | undefined;
}>;

const {frontmatter,headings} = Astro.props;
import "../styles/global.css";

const prev = frontmatter.prev ? await getEntry(frontmatter.prev) : undefined;
const next = frontmatter.next ? await getEntry(frontmatter.next) : undefined;

---

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{frontmatter.title}</title>
    </head>
    <body class="">
        <div id="header" class="flex items-center text-imprint-white bg-ganbaro-blue-500 p-4su">
            <span>
                Imprint CSS - Tailwind CSS plugin for content-oriented websites
            </span>
            <nav class="ml-auto">
                <ul class="flex flex-row gap-4">
                    <li><a href="/docs" class="hover:underline hover:underline-offset-4">Docs</a></li>
                    <li><a href="https://oohshiny.dev" class="hover:underline hover:underline-offset-4">Blog</a></li>
                    <li><a href="https://github.com/stuartherbert/imprint-css" class="hover:underline hover:underline-offset-4">GitHub</a></li>
                </ul>
            </nav>
        </div>
        <div id="content" class="my-4su c:grid c:grid-cols-[19rem_1fr_19rem] c:gap-[2rem]">
            <div class="sticky top-0 hidden pl-8 pr-6 overflow-y-auto border-r c:block max-h-svh border-imprint-graphite pb-2su">
                <SiteNavigation/>
            </div>
            <div class="imprint pb-2su pt-2su">
                <main role="main" class="mx-auto imprint-container c:mx-0">
                    <div class="imprint-prose">
                        <header class="mt-2su mb-8su">
                            <p class="!imprint-block-greatprimer !imprint-fontweight-greatprimer text-imprint-graphite">{frontmatter.navSection}</p>
                            <h1 class="!mt-2su">{frontmatter.title}</h1>
                            {frontmatter.description && <p class="!imprint-block-greatprimer mt-2su font-light">{frontmatter.description}</p>}
                        </header>
                        <slot />
                    </div>
                    <PrevNextNavigation prev={prev} next={next}/>
                </main>
            </div>
            <div class="sticky top-0 order-3 hidden overflow-y-auto border-l c:block pl-4su pt-4su border-imprint-palegray text-pica max-h-svh">
                <aside>
                    <h5 class="font-semibold">On This Page</h5>
                    <PageToc headings={headings} class=""/>
                </aside>
            </div>
        </div>
        <div id="footer" class="flex justify-center text-white bg-ganbaro-blue-500 px-4su py-4su">
            <p>Copyright (c) 2023-present Stuart Herbert.</p>
        </div>
    </body>
</html>